<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!------------------------------------ Themes ------------------------------------>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/content/images/favicon.ico">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <!-- Font Awesome theme -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <!-- DevExtreme theme -->
    <link rel="stylesheet" href="~/lib/devextreme-dist/css/dx.material.blue.dark.compact.min.css" asp-append-version="true" />
    <!-- App theme -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!------------------------------------ Libraries ------------------------------------>
    <!-- Axios library -->
    <script type="text/javascript" src="~/lib/axios/axios.min.js" asp-append-version="true"></script>
    <!-- Bootstrap library -->
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <!-- Font Awesome library -->
    <script type="text/javascript" src="~/lib/font-awesome/js/all.min.js" data-auto-replace-svg="nest" asp-append-version="true"></script>
    <!-- Excel xlsx library -->
    <script type="text/javascript" src="~/lib/xlsx/xlsx.full.min.js" asp-append-version="true"></script>
    <!-- Jquery library -->
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <!-- Jquery validate library -->
    <script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.min.js" asp-append-version="true"></script>
    <!-- Moment.js library -->
    <script type="text/javascript" src="~/lib/momentjs/moment-with-locales.min.js" asp-append-version="true"></script>
    <!-- DevExtreme library -->
    <environment include="Development">
        <script type="text/javascript" src="~/lib/devextreme-dist/js/dx.all.debug.min.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/lib/devextreme-dist/js/dx.all.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body class="dx-viewport">
    <header>
        <nav id="navbarApp" class="navbar navbar-expand py-0 navbar-dark bg-dark fixed-top justify-content-between">
            @* Menu *@
            <div class="nav-item dropdown">
                <button id="MenuApp" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bars" ></i>
                    @ViewData["Title"]
                    <span id="notifyText" />
                </button>
                <ul id="SubMenuApp" class="dropdown-menu bg-dark overflow-auto">
                    <li><h5 class="dropdown-header">Dropdown header 1</h5></li>
                    <li>
                        <a class="nav-link dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav-link dropdown-item" href="#">Another action</a>
                    </li>
                    <li><h5 class="dropdown-header">Dropdown header 2</h5></li>
                    <li>
                        <a class="nav-link dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
            @* Clock *@
            <div class="nav-item"><i class="fa fa-clock"></i> <span id="digitalClock" /></div>
        </nav>
    </header>

    <main id="mainContent" role="main" class="container-fluid">
        <div id="appLoadingPanel"></div>
        @RenderBody()
    </main>

    <!-- App library -->
    <script type="text/javascript" src="~/js/WebAppManager-Base.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
