<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!------------------------------------ Themes ------------------------------------>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <!-- DevExtreme theme -->
    <link rel="stylesheet" href="~/lib/devextreme-dist/css/dx.fluent.blue.dark.compact.min.css" asp-append-version="true" />
    <!-- Local theme -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppManager.styles.css" asp-append-version="true" />
    <!------------------------------------ Libraries ------------------------------------>
    <!-- Jquery libraries -->
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <!-- Bootstrap libraries -->
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <!-- DevExtreme libraries -->
    <script type="text/javascript" src="~/lib/devextreme-dist/js/dx.all.min.js" asp-append-version="true"></script>
    <!-- Local libraries -->
    <script type="text/javascript" src="~/js/WebAppManager.js" asp-append-version="true"></script>
</head>
<body class="dx-viewport">
    <header>
        <nav class="navbar navbar-expand navbar-toggleable navbar-dark bg-dark">
            <div class="container-fluid dropdown">
                <button id="MenuApp" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    @ViewData["Title"]
                    <span class="caret"></span>
                </button>
                <ul id="SubMenuApp" class="dropdown-menu bg-dark overflow-auto" aria-labelledby="MenuApp">
                    <li><h5 class="dropdown-header">Dropdown header 1</h5></li>
                    <li>
                        <a class="nav-link dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li><h5 class="dropdown-header">Dropdown header 1</h5></li>
                    <li>
                        <a class="nav-link dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
