@model WebAppManager.Models.DsTaikhoan
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="dxForm_Account"></div>

@section Scripts {
    @* <script type="text/javascript" src="~/lib/" asp-append-version="true"></script> *@
}